body {
    margin: 0;
    text-align: center;
    background-image: url('images/cake_seamless.jpg');
}

iframe {
    margin: auto;
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

header {
    background-color: blanchedalmond;
}

footer {
    position: static;
    width: 100%;
    height: 50px;
    background: blanchedalmond;
}
