body {
    margin: 0;
    background: pink;
    text-align: center;
}

iframe {
    margin: auto;
    align-items: center;
    align-content: center;
}

header {
    background-color: blanchedalmond;
}

body {
    background-image: url('images/cake_seamless.jpg');
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: blanchedalmond;
}